asgiref==3.8.1
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.6.2
cffi==1.16.0
channels==3.0.4
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==42.0.8
daphne==3.0.2
distlib==0.3.8
Django==4.2
django-bootstrap-v5==1.0.11
django-crispy-forms==1.11.2
django-seed==0.3.1
djangorestframework==3.15.1
Faker==25.2.0
faker-file==0.17.11
filelock==3.13.1
homebrew==0.0.0.1
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
pdfkit==1.0.0
pillow==10.3.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
pytz==2020.5
requests==2.32.3
service-identity==24.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.1
toposort==1.10
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
urllib3==2.2.1
virtualenv==20.25.1
zope.interface==6.4.post2
