{% extends "base.html" %}

{% block title %}Handy Gleam{% endblock title %}

{% block body %}

<div class='detail'>
    <div class='div1'>
        <img src="{{item.photo.url}}">
    </div>
    <div class='div2'>
        <h1>{{item.title}}</h1>
        {% if item.caption %}
            <p>{{item.caption}}</p>
        {% endif %}
        <div class='price'>
            <b id='price1'>price:&nbsp;</b>
            <b id='price2'>السعر:&nbsp;</b>
            <h3>{{item.price}} IQD</h3>
            {% if item.sell %}
            <strong>&nbsp;-{{item.sell}}%</strong>
            {% endif %}
        </div>
        <form method='POST' style='margin:0;'>
            {% csrf_token %}
            <div class='count0'>
                <b id='count1'>count:&nbsp;</b>
                <b id='count2'>العدد:&nbsp;</b>
                <div class='count'>
                    <button type='button'><span id='minus' class="material-symbols-outlined">remove</span></button>
                    <input type='number' name='count' id='count' value='1'>
                    <button type='button'><span id='plus' class="material-symbols-outlined">add</span></button>
                </div>
            </div>
            <input type='submit' value='Add to Cart' id='atc1'>
            <input type='submit' value='اضافة الى السلة' id='atc2'>
        </form>
    </div>
</div>

{% endblock body %}