{% extends "base.html" %}

{% block title %}Orders{% endblock title %}

{% block body %}

<div class='orders'>
    <h1 id='h1-order1'>Orders ({{count}})</h1>
    <h1 id='h1-order2'>السلة ({{count}})</h1>
    <div class='order-div'>
        <div>
            {% for order in orders %}
            <div class='order'>
                <div style='display:flex; align-items:center;'>
                    <img src='{{order.photo.url}}'>
                    <a href='/{{order.number}}/' style='margin:0 10px;'>
                        <h1>{{order.title}}</h1>
                        <p style='color:red;font-weight:bold;'><b class='b'>{{order.price}} </b>IRQ</p>
                    </a>
                </div>
                <a class='deleteBTN' id='deleteBTN' href='/order-delete/{{order.id}}/'><span class='material-symbols-outlined'>delete</span></a>
            </div>
            {% endfor %}
        </div>
        <div class='content'>
            <h3 id='total-en'>Total:</h3>
            <h3 id='total-ar'>الاجمالي:</h3>
            <h1 id='total'></h1>
            <button><a href='https://www.instagram.com/direct/t/17846555652189650' target='_blank' id='redirect-to-insta-en'>Go To Insta for Buy</a></button>
            <button><a href='https://www.instagram.com/direct/t/17846555652189650' target='_blank' id='redirect-to-insta-ar'>اذهب الى الانستكرام للشراء</a></button>
        </div>
    </div>
</div>

{% endblock body %}