{% extends "base.html" %}

{% block title %}Management - Users{% endblock title %}

{% block body %}

{% if request.user.username == 'alaa' %}
<div class='management'>
    <div class='manageHrader users0'>
        <h1 id='en'>Users</h1>
        <h1 id='ar'>المستخدمين</h1>
        <div style='display:flex;align-items:center;'>
            <form action="{% url 'search-user' %}" method="get">
                <input id='en1' type="text" name="search-user" placeholder="Search for Users">
                <input id='ar1' type="text" name="search-user0" placeholder="ابحث عن المستخدمين">
                <button type="submit"><span class='material-symbols-outlined'>search</span></button>
            </form>
        </div>
    </div>
    <div class='items'>
        {% for user in users %}
        <div class='item itemUsers'>
            <a href='/management/users/{{user.id}}/'>
                <div>
                    <h2>{{user.username}}</h2>
                    <p>{{user.email}}</p>
                </div>
            </a>
            <a href='/management/users/delete/{{user.id}}/' id='deleteUser'><span class="material-symbols-outlined">delete</span></a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class='management'>
    <div class='manageHrader'>
        <h1 class='h1' id='en1'>you are not allowed to access this page</h1>
        <h1 class='h1' id='ar1'>لا يسمح لك بالوصول إلى هذه الصفحة</h1>
        <a href="{% url 'index' %}" id='en' style='text-align:center;display:block;color:#03a9f4;font-size:17px;'>Home</a>
        <a href="{% url 'index' %}" id='ar' style='text-align:center;display:block;color:#03a9f4;font-size:17px;'>الصفحة الرئيسية</a>
    </div>
</div>
{% endif %}

{% endblock body %}